@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.mb{
    display: none!important;
}

.logo{
    width: 100vw;
    display: flex;
}

.logo img {
    justify-self: center;
    width: 200px;
    height: auto;
    padding-top: 15px;
}

.list-container{
    width: 100%;
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0px;
}

.list li {
    width: 25%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.underline{
    position: relative;
  }
  
.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.slider {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: auto;
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    
    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}
  
  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }

.list li a {
    text-decoration: none;
    color: black;
    font-family: 'Cardo', serif;
}


@media(max-width:760px){
   .logo img{
       width: 160px!important;
   }

   .list li a {
       font-size: 15px;
   }

   .lg{
       display: none !important;
   }

   .mb{
       display: flex!important;
   }

}

@media(max-width:450px){

    .list li a {
        font-size: 11px;
    }

}
